name: Generate Podcast feed
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Dependecies
        run: |
          python -m pip install --upgrade pip
          pip install PyYAML
      - name: Run Feed Generator
        run: python feed.py
      - name: Push Repo
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
      
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
      
          git add .
          git commit -m "modified feed" || echo "No changes to commit"
      
          git push

